/**
  @author toru saito
  @lastModified 2008-11-10
*/


/*--------------------
	HTML style 
--------------------*/
body{
  margin: 0px;
  padding: 0px;
}
#Header {
  background-color: #a7dbd8;
  border-bottom: 7px solid #69d2e7;
  height: 8em;
}
#SiteName{
  margin: 0 auto;
  width: 950px;  
}
#SiteName h1{
  color: #555555;
  font-size: 32px; 
}
#SiteName h5{
  font-size: 14px;
}
#MainNavi{
  background-color: #69d2e7;
}
#MainNavi ul{
  margin: 0 auto;
  width: 950px;
  height: 1.6em;
  padding: 0 0 1.5em 0px;
}
#MiniTabs li{
  margin: 0;
  padding: 0;
  height: 1em;
  display: inline;
  list-style: none;
}
#MiniTabs a{
  float: left;
  border-top: 4px solid #a7dbd8;
  background-color: #a7dbd8;
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: bold;
  margin: 0 10px 4px 10px;
  padding: 0 1em 0 1em;
  color: #333;
}
#MiniTabs a.active, #MiniTabs a:hover{
  border-top: 4px solid #696;
  padding-bottom: 0px;
  text-decoration: none;
  line-height: 2em;
  background-color: #fff;
  color: #363;
}
#Footer {
	background-color: #69d2e7;
/*  background-color: #f38630;*/
  height: 5em;
  border-bottom: 7px solid #a7dbd8;
}
#FooterNote{
  margin: 0 auto;
  padding-top: 10px;
  width: 850px;
  color: #fff;
  text-align: center;  
  font-size: 12px;
}


/* Overwrite BlueTrip css */
.container{
  background-color: #fff;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
}
table.chart *{
  border-style: none;
  vertical-align: top;
}
table.chart{
  border-style: none;
}
.container li{
  padding-bottom: 5px;
}

.container *.fancy{
  color: #232;
}

/*--------------------
	SVG style 
--------------------*/
/** Chart Style */
/** Text Style */
text.title{
  font-size: 22px;
}
text.label{
  font-size: 18px;
}
text.legend{
  font-size: 14px;
}
/** Background Style */
rect.chart{
  fill: #eee;
  fill-opacity: 1;
}
/** Line Style */
.grid line{
  stroke: gray;
}

/** Styles for UN Data charts */
#Australia *{
  stroke: yellow;
  stroke-width: 2px;
  fill: yellow;
  fill-opacity: 0.1;
}
#Canada *{
  stroke: green;
  stroke-width: 2px;
  fill: green;
  fill-opacity: 0.1;
}
#France *{
  stroke: purple;
  stroke-width: 2px;
  fill: purple;
  fill-opacity: 0.1;  
}
#India *{
  stroke: orange;
  stroke-width: 2px;
  fill: orange;
  fill-opacity: 0.1;
}
#Japan  *{
  stroke: blue;
  stroke-width: 2px;
  fill: blue;
  fill-opacity: 0.1;
}
#UnitedStates  *{
  stroke: red;
  stroke-width: 2px;
  fill: red;
  fill-opacity: 0.1;
}

/* Style for demo charts */
.line1 line{
  stroke: black;
  stroke-width: 2px;
}
.line2 line{
  stroke: blue;
  stroke-width: 2px;
}
.point1 circle{
  fill: red;
 stroke: red;
  fill-opacity: 0.8;
}
.point2 circle{
  fill: blue;
  stroke: blue;
  fill-opacity: 0.8;
}
.col1 rect{
  fill: red;
  stroke: red;
  fill-opacity: 0.8;
}
.col2 rect{
  fill: blue;
  stroke: blue;
  fill-opacity: 0.8;
}
.bar1 rect{
  fill: red;
  stroke: red;
  fill-opacity: 0.8;
}
.bar2 rect{
  fill: blue;
  stroke: blue;
  fill-opacity: 0.8;
}